#global
{
    width: 50%;
    max-width: 600px;
    min-width: 400px;
    margin: auto;
}

.progress
{
    height:24px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

.main-frame
{
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    font-size: 0.9em;
}

.text-center
{
    text-align: center;
}

.text-white
{
    color: white;
    font-size: 0.9em;
    text-justify: auto;
}

body
{
    background-color: #264653;
    font-family: sans-serif;
    font-size: 1.2em;
}

h1, h2
{
    color: white;
}


