{% extends "layout.jinja2"%}

{% block content %}

<div class="flex flex-row w-full m-auto">

  <div class="w-auto sm:w-1/6 xl:w-1/4"></div>
  <div class="flex flex-col w-full sm:w-2/3 xl:w-1/2">
    <div class="text-center text-white text-3xl font-bold my-5">
      <p>{{ title if title else "Big Five Inventory" }}</p>
    </div>

    <div class="bg-white p-8 rounded-3xl my-5">
      <p class="mb-4"><b>Questionnaire terminé !</b></p>
      <p class="pl-2">Avant de découvrir vos 5 traits de personnalité, vous pouvez laisser vos coordonnées ci-dessous pour participer à la suite de cette étude scientifique :</p>

    <form class="flex flex-col m-5" method="post">
      {{ form.hidden_tag() }}

      {{ form.email.label(class="pb-1 text-gray-600") }}
      {{ form.email(class="mb-2 pl-2 text-gray-700 border border-gray-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-600 focus:border-transparent") }}
      {{ form.phone.label(class="pb-1 text-gray-600") }}
      {{ form.phone(class="mb-2 pl-2 text-gray-700 border border-gray-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-600 focus:border-transparent") }}
      {{ form.birth.label(class="pb-1 text-gray-600") }}
      {{ form.birth(class="mb-2 pl-2 text-gray-700 border border-gray-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-600 focus:border-transparent") }}
      
      {{ form.genre.label(class="text-gray-600") }}
      <div class="flex flex-row items-center">
        {% for subfield in form.genre %}
        {{ subfield(class="ml-2") }} {{ subfield.label(class="px-2 text-gray-700") }}
        {% endfor %}
      </div>
      <br>
      <div class="flex justify-center">
        {{ form.submit(class="bg-yellow-600 px-3 py-2 text-sm text-white font-medium rounded-full hover:bg-yellow-700") }}
      </div>
    </form>


    </div>

  </div>
  <div class="w-auto sm:w-1/6 xl:w-1/4"></div>
</div>

{% endblock %}



