{% extends "layout.jinja2" %}

{% block content %}

<div class="flex flex-row w-full m-auto">

  <div class="w-auto sm:w-1/6 xl:w-1/4"></div>
  <div class="flex flex-col w-full sm:w-2/3 xl:w-1/2">
    <div class="text-center text-white text-3xl font-bold my-5">
      <p>{{ title if title else "Big Five Inventory" }}</p>
    </div>

    <div class="h-6 bg-white rounded-md text-center mt-2">
      <div class="h-6 bg-white rounded-md text-center bg-yellow-600" style="width:{{g.progress}}%;">
        <b>{{g.progress}}%</b>
      </div>
    </div> 

    <div class="text-white text-lg font-bold mt-5 pl-8">
      <p>Question {{question_number}} / 45</p>
    </div>

    <div class="bg-white p-8 rounded-3xl my-5">
      <p>Je me vois comme quelqu'un qui... {{ question }}.</p>

      <form class="m-5" method="post">
        {{ form.hidden_tag() }}

        {% for subfield in form.answer %}
        {{ subfield }} {{ subfield.label }} <br>
        {% endfor %}
        <br>
        <div class="flex justify-center">
          {{ form.submit(class="bg-yellow-600 px-3 py-2 text-sm text-white font-medium rounded-full hover:bg-yellow-700") }}
        </div>
      </form>
    </div>
  </div>
  <div class="w-auto sm:w-1/6 xl:w-1/4"></div>
</div>



{% endblock %}
