{% extends "layout.jinja2" %}

{% block content %}

<div id="w-1/2 m-auto">
  <h1 class="text-center">{{ title if title else "Big Five Inventory" }}</h1>

  <div class="h-6 bg-white rounded text-center">
    <div class="h-6 bg-white rounded text-center" style="width:{{g.progress}}%;background-color:#F4A261;"><b>{{g.progress}}%</b></div>
  </div> 

  <h2>Question {{question_number}}</h2>

  <div class="bg-white p-8">
    <p>Je me vois comme quelqu'un qui... {{ question }}.</p>

    <form method="post">
      {{ form.hidden_tag() }}

      {% for subfield in form.answer %}
      {{ subfield }} {{ subfield.label }} <br>
      {% endfor %}
      <br>
      {{ form.submit }}
    </form>
  </div>
</div>

{% endblock %}
