<!DOCTYPE html>
<html lang="fr">

<head>
  {% include 'meta.jinja2' %}
  {% block pagestyles %}{% endblock %}
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/styles.css') }}"> -->
</head>

<body class="bg-gray-800 flex">

  {% block content %}{% endblock %}

  <!-- Scripts -->
  <!-- <script src="{{ url_for('static', filename='dist/js/main.min.js') }}"></script> -->

</body>

</html>
