<!DOCTYPE html>
<html lang="fr">

<head>
  {% include 'meta.jinja2' %}
  <link href="{{ url_for('static', filename='css/tailwind.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
  <main class="bg-gray-700 relative h-screen overflow-hidden">
    <div class="flex items-start justify-between">

      {% block content %}{% endblock %}

    </div>
  </main>
</body>

</html>
