{% block meta %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Author" content="Paul Dulaud">
  <meta name="Description" content="Self Quantification System for Health Behaviour Support">
  <!-- <meta name="Keywords" content="kw1,kw2"> -->
  <title>{{title if title }}</title>
  <link rel="icon" href="{{ url_for('static', filename='dist/img/favicon.png') }}" type="image/x-icon">
{% endblock %}
