{% block meta %}
  <meta charset="utf-8">
  <meta name="Author" content="Paul Dulaud">
  <meta name="Description" content="Big Five Inventory, French version - Experiment">
  <title>{{ "Big Five Inventory" }}</title>
{% endblock %}
